<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="browser" value="firefox"/>
    <parameter name="path" value="D:\Programming\Selenium\geckodriver.exe"/>
    <parameter name="url" value="https://www.goibibo.com/"/>

    <test verbose="2" name="JobApp">
        <classes>
            <class name="com.goibibo.page.tasks.Tasks">
            </class>
        </classes>
    </test>
</suite>